/**
 * sass/parts/banners.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2023.04.16)
 * @copyright 2023
**/

// VARIABLES
// STYLES
    .banner {
        // GLOBAL
        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {} //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL

        &-text {
            // GLOBAL
                @extend .background-2;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

            #{$text-all} {
                // GLOBAL
                    text-align: center;

                    &:first-child {
                        margin-top: $margin-none;
                    } //:FIRST-CHILD

                    &:last-child {
                        margin-bottom: $margin-none;
                    } //:LAST-CHILD

                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //TEXT-ALL

            #{$text-headings-all} {
                // GLOBAL
                    font-style: italic;
                    font-weight: 300;

                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //TEXT-HEADINGS-ALL

            #{$text-body-all} {
                // GLOBAL
                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //TEXT-BODY-ALL

            #{$text-links-all} {
                // GLOBAL
                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //TEXT-LINKS-ALL

            .elementor-background-overlay {
                // GLOBAL
                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.ELEMENTOR-BACKGROUND-OVERLAY

            .wrapper-content {
                // GLOBAL
                    padding-top: $section-padding;
                    padding-bottom: $section-padding;

                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.WRAPPER-CONTENT

            section.row {
                // GLOBAL
                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL

                & > .elementor-container > .elementor-row {
                    // GLOBAL
                        justify-content: center;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //.ELEMENTOR-ROW

                .columns {
                    // GLOBAL
                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //.COLUMNS
            } //.ROW

            &.elementor-widget-call-to-action {
                // GLOBAL
                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL

                .elementor-widget-container {
                    // GLOBAL
                        padding: $body-gutter;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL

                    a.elementor-cta {
                        // GLOBAL
                            border: $border-width solid $color-grayscale-light-12;

                        // MOBILE
                            @media #{$media-xs} {} //.COL-XS
                            @media #{$media-sm} {} //.COL-SM
                            @media #{$media-md} {} //.COL-MD
                            @media #{$device-mobile} {} //.MOBILE

                        // DESKTOP
                            @media #{$device-desktop} {} //.DESKTOP
                            @media #{$media-lg} {} //.COL-LG
                            @media #{$media-xl} {} //.COL-XL
                            @media #{$media-xxl} {} //.COL-XXL

                        .elementor-cta__bg-wrapper {
                            // GLOBAL
                            // MOBILE
                                @media #{$media-xs} {} //.COL-XS
                                @media #{$media-sm} {} //.COL-SM
                                @media #{$media-md} {} //.COL-MD
                                @media #{$device-mobile} {} //.MOBILE

                            // DESKTOP
                                @media #{$device-desktop} {} //.DESKTOP
                                @media #{$media-lg} {} //.COL-LG
                                @media #{$media-xl} {} //.COL-XL
                                @media #{$media-xxl} {} //.COL-XXL

                            .elementor-cta__bg.elementor-bg {
                                // GLOBAL
                                // MOBILE
                                    @media #{$media-xs} {} //.COL-XS
                                    @media #{$media-sm} {} //.COL-SM
                                    @media #{$media-md} {} //.COL-MD
                                    @media #{$device-mobile} {} //.MOBILE

                                // DESKTOP
                                    @media #{$device-desktop} {} //.DESKTOP
                                    @media #{$media-lg} {} //.COL-LG
                                    @media #{$media-xl} {} //.COL-XL
                                    @media #{$media-xxl} {} //.COL-XXL
                            } //.ELEMENTOR-CTA__BG.ELEMENTOR-BG
                        } //.ELEMENTOR-CTA__BG-WRAPPER

                        .elementor-cta__content {
                            // GLOBAL
                                height: auto;
                                min-height: auto;
                                padding: ($body-gutter * 2.00) $body-gutter;
                                text-align: center;

                            // MOBILE
                                @media #{$media-xs} {} //.COL-XS
                                @media #{$media-sm} {} //.COL-SM
                                @media #{$media-md} {} //.COL-MD
                                @media #{$device-mobile} {} //.MOBILE

                            // DESKTOP
                                @media #{$device-desktop} {} //.DESKTOP
                                @media #{$media-lg} {} //.COL-LG
                                @media #{$media-xl} {} //.COL-XL
                                @media #{$media-xxl} {} //.COL-XXL

                            .elementor-cta__icon {
                                // GLOBAL
                                    margin-bottom: $margin-xs;

                                // MOBILE
                                    @media #{$media-xs} {} //.COL-XS
                                    @media #{$media-sm} {} //.COL-SM
                                    @media #{$media-md} {} //.COL-MD
                                    @media #{$device-mobile} {} //.MOBILE

                                // DESKTOP
                                    @media #{$device-desktop} {} //.DESKTOP
                                    @media #{$media-lg} {} //.COL-LG
                                    @media #{$media-xl} {} //.COL-XL
                                    @media #{$media-xxl} {} //.COL-XXL

                                .elementor-icon {
                                    // GLOBAL
                                    // MOBILE
                                        @media #{$media-xs} {} //.COL-XS
                                        @media #{$media-sm} {} //.COL-SM
                                        @media #{$media-md} {} //.COL-MD
                                        @media #{$device-mobile} {} //.MOBILE

                                    // DESKTOP
                                        @media #{$device-desktop} {} //.DESKTOP
                                        @media #{$media-lg} {} //.COL-LG
                                        @media #{$media-xl} {} //.COL-XL
                                        @media #{$media-xxl} {} //.COL-XXL

                                    i {
                                        // GLOBAL
                                        // MOBILE
                                            @media #{$media-xs} {} //.COL-XS
                                            @media #{$media-sm} {} //.COL-SM
                                            @media #{$media-md} {} //.COL-MD
                                            @media #{$device-mobile} {} //.MOBILE

                                        // DESKTOP
                                            @media #{$device-desktop} {} //.DESKTOP
                                            @media #{$media-lg} {} //.COL-LG
                                            @media #{$media-xl} {} //.COL-XL
                                            @media #{$media-xxl} {} //.COL-XXL
                                    } //I
                                } //.ELEMENTOR-ICON
                            } //.ELEMENTOR-CTA__ICON

                            .elementor-cta__title {
                                // GLOBAL
                                    margin-bottom: $margin-xxs;

                                // MOBILE
                                    @media #{$media-xs} {} //.COL-XS
                                    @media #{$media-sm} {} //.COL-SM
                                    @media #{$media-md} {} //.COL-MD
                                    @media #{$device-mobile} {} //.MOBILE

                                // DESKTOP
                                    @media #{$device-desktop} {} //.DESKTOP
                                    @media #{$media-lg} {} //.COL-LG
                                    @media #{$media-xl} {} //.COL-XL
                                    @media #{$media-xxl} {} //.COL-XXL
                            } //.ELEMENTOR-CTA__TITLE

                            .elementor-cta__description {
                                // GLOBAL
                                    font-family: $heading-text;
                                    font-style: italic;

                                // MOBILE
                                    @media #{$media-xs} {} //.COL-XS
                                    @media #{$media-sm} {} //.COL-SM
                                    @media #{$media-md} {} //.COL-MD
                                    @media #{$device-mobile} {} //.MOBILE

                                // DESKTOP
                                    @media #{$device-desktop} {} //.DESKTOP
                                    @media #{$media-lg} {} //.COL-LG
                                    @media #{$media-xl} {} //.COL-XL
                                    @media #{$media-xxl} {} //.COL-XXL
                            } //.ELEMENTOR-CTA__DESCRIPTION
                        } //.ELEMENTOR-CTA__CONTENT

                        .elementor-ribbon {
                            // GLOBAL
                            // MOBILE
                                @media #{$media-xs} {} //.COL-XS
                                @media #{$media-sm} {} //.COL-SM
                                @media #{$media-md} {} //.COL-MD
                                @media #{$device-mobile} {} //.MOBILE

                            // DESKTOP
                                @media #{$device-desktop} {} //.DESKTOP
                                @media #{$media-lg} {} //.COL-LG
                                @media #{$media-xl} {} //.COL-XL
                                @media #{$media-xxl} {} //.COL-XXL

                            .elementor-ribbon-inner {
                                // GLOBAL
                                    background-color: $color-scgolfpanel-brown-dark-3;

                                // MOBILE
                                    @media #{$media-xs} {} //.COL-XS
                                    @media #{$media-sm} {} //.COL-SM
                                    @media #{$media-md} {} //.COL-MD
                                    @media #{$device-mobile} {} //.MOBILE

                                // DESKTOP
                                    @media #{$device-desktop} {} //.DESKTOP
                                    @media #{$media-lg} {} //.COL-LG
                                    @media #{$media-xl} {} //.COL-XL
                                    @media #{$media-xxl} {} //.COL-XXL
                            } //.ELEMENTOR-RIBBON-INNER
                        } //.ELEMENTOR-RIBBON
                    } //.ELEMENTOR-CTA
                } //.ELEMENTOR-WIDGET-CONTAINER
            } //.ELEMENTOR-WIDGET-CALL-TO-ACTION
        } //.BANNER-TEXT

        &-title {
            // GLOBAL
                @extend .background-2;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

            #{$text-headings-all} {
                // GLOBAL
                    margin: $margin-none;

                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //TEXT-HEADINGS-ALL

            .elementor-background-overlay {
                // GLOBAL
                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.ELEMENTOR-BACKGROUND-OVERLAY

            .wrapper-content {
                // GLOBAL
                    padding-top: $padding-sm;
                    padding-bottom: $padding-sm;

                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.WRAPPER-CONTENT

            .elementor-element-edit-mode {
                // GLOBAL
                    margin-top: $margin-none;

                    &:first-child {
                        margin-top: $margin-none;
                    } //:FIRST-CHILD

                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.ELEMENTOR-ELEMENT-EDIT-MODE
        } //.BANNER-TITLE
        
    } //.BANNER