/**
 * sass/parts/header.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2023.04.16)
 * @copyright 2023
**/

// VARIABLES
// STYLES
    header, .elementor-location-header, .elementor.editor-active.elementor-location-header {
        // GLOBAL
            width: 100.00%;
            position: absolute !important;
            z-index: 10;

        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {} //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL

        #header-primary {
            // GLOBAL
                background-color: $header-primary-background;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

            & > .elementor-background-overlay {
                // GLOBAL                    
                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //.ELEMENTOR-BACKGROUND-OVERLAY

            .wrapper-content {
                // GLOBAL
                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {
                        padding: $header-padding-mobile + $border-width;
                        padding-bottom: $padding-none;
                    } //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {
                        padding: $header-padding-desktop + $border-width;
                        padding-bottom: $padding-none;
                    } //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL

                & > .elementor-column-wrap {
                    // GLOBAL
                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL

                    & > .elementor-widget-wrap {
                        // GLOBAL
                        // MOBILE
                            @media #{$media-xs} {} //.COL-XS
                            @media #{$media-sm} {} //.COL-SM
                            @media #{$media-md} {} //.COL-MD
                            @media #{$device-mobile} {} //.MOBILE

                        // DESKTOP
                            @media #{$device-desktop} {} //.DESKTOP
                            @media #{$media-lg} {} //.COL-LG
                            @media #{$media-xl} {} //.COL-XL
                            @media #{$media-xxl} {} //.COL-XXL

                        & > .row {
                            // GLOBAL
                            // MOBILE
                                @media #{$media-xs} {} //.COL-XS
                                @media #{$media-sm} {} //.COL-SM
                                @media #{$media-md} {} //.COL-MD
                                @media #{$device-mobile} {} //.MOBILE

                            // DESKTOP
                                @media #{$device-desktop} {} //.DESKTOP
                                @media #{$media-lg} {} //.COL-LG
                                @media #{$media-xl} {} //.COL-XL
                                @media #{$media-xxl} {} //.COL-XXL

                            & > .elementor-container {
                                // GLOBAL
                                // MOBILE
                                    @media #{$media-xs} {} //.COL-XS
                                    @media #{$media-sm} {} //.COL-SM
                                    @media #{$media-md} {} //.COL-MD
                                    @media #{$device-mobile} {} //.MOBILE

                                // DESKTOP
                                    @media #{$device-desktop} {} //.DESKTOP
                                    @media #{$media-lg} {} //.COL-LG
                                    @media #{$media-xl} {} //.COL-XL
                                    @media #{$media-xxl} {} //.COL-XXL

                                & > .elementor-row {
                                    // GLOBAL
                                    // MOBILE
                                        @media #{$media-xs} {} //.COL-XS
                                        @media #{$media-sm} {} //.COL-SM
                                        @media #{$media-md} {} //.COL-MD
                                        @media #{$device-mobile} {} //.MOBILE

                                    // DESKTOP
                                        @media #{$device-desktop} {} //.DESKTOP
                                        @media #{$media-lg} {} //.COL-LG
                                        @media #{$media-xl} {} //.COL-XL
                                        @media #{$media-xxl} {} //.COL-XXL

                                    & > .columns {
                                        // GLOBAL
                                            margin-top: $margin-none;
                                            margin-bottom: $margin-none;

                                        // MOBILE
                                            @media #{$media-xs} {} //.COL-XS
                                            @media #{$media-sm} {} //.COL-SM
                                            @media #{$media-md} {} //.COL-MD
                                            @media #{$device-mobile} {} //.MOBILE

                                        // DESKTOP
                                            @media #{$device-desktop} {} //.DESKTOP
                                            @media #{$media-lg} {} //.COL-LG
                                            @media #{$media-xl} {} //.COL-XL
                                            @media #{$media-xxl} {} //.COL-XXL
                                    } //.COLUMNS
                                } //.ELEMENTOR-ROW
                            } //.ELEMENTOR-CONTAINER
                        } //.ROW
                    } //.ELEMENTOR-WIDGET-WRAP
                } //.ELEMENTOR-COLUMN-WRAP
            } //.WRAPPER-CONTENT

            #header-logo {
                // GLOBAL
                // MOBILE
                    @media #{$media-xs} {
                        width: $grid-5;
                    } //.COL-XS
                    @media #{$media-sm} {
                        width: $grid-3;
                    } //.COL-SM
                    @media #{$media-md} {
                        width: $grid-3;
                    } //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {
                        width: $grid-2;
                    } //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL
            } //#HEADER-LOGO

            #header-menu-primary {
                // GLOBAL
                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {
                        display: none;
                    } //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {
                        width: $grid-10;
                        display: flex;
                    } //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL

                nav.elementor-nav-menu--main {
                    // GLOBAL
                        justify-content: flex-end;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL

                    ul.elementor-nav-menu {
                        // GLOBAL
                        // MOBILE
                            @media #{$media-xs} {} //.COL-XS
                            @media #{$media-sm} {} //.COL-SM
                            @media #{$media-md} {} //.COL-MD
                            @media #{$device-mobile} {} //.MOBILE

                        // DESKTOP
                            @media #{$device-desktop} {} //.DESKTOP
                            @media #{$media-lg} {} //.COL-LG
                            @media #{$media-xl} {} //.COL-XL
                            @media #{$media-xxl} {} //.COL-XXL

                        li.menu-item {
                            // GLOBAL
                                margin: $margin-none $margin-sm;

                                &:first-child {
                                    margin-left: $margin-none;
                                } //:FIRST-CHILD

                                &:last-child {
                                    margin-right: $margin-none;
                                } //:LAST-CHILD

                            // MOBILE
                                @media #{$media-xs} {} //.COL-XS
                                @media #{$media-sm} {} //.COL-SM
                                @media #{$media-md} {} //.COL-MD
                                @media #{$device-mobile} {} //.MOBILE

                            // DESKTOP
                                @media #{$device-desktop} {} //.DESKTOP
                                @media #{$media-lg} {} //.COL-LG
                                @media #{$media-xl} {} //.COL-XL
                                @media #{$media-xxl} {} //.COL-XXL

                            a {
                                // GLOBAL
                                    padding: $padding-none;
                                    font-weight: 700;
                                    color: $header-primary-text-color;

                                    &:hover {
                                        font-weight: 700;
                                        color: $text-link-hover-color;
                                    } //:HOVER

                                // MOBILE
                                    @media #{$media-xs} {} //.COL-XS
                                    @media #{$media-sm} {} //.COL-SM
                                    @media #{$media-md} {} //.COL-MD
                                    @media #{$device-mobile} {} //.MOBILE

                                // DESKTOP
                                    @media #{$device-desktop} {} //.DESKTOP
                                    @media #{$media-lg} {} //.COL-LG
                                    @media #{$media-xl} {} //.COL-XL
                                    @media #{$media-xxl} {} //.COL-XXL

                                &.button-solid {
                                    // GLOBAL
                                        @extend .button-solid;
                                        padding: $button-padding-vertical $button-padding-horizontal;
                                        border: $border-outline-weight solid $color-grayscale-light-12;

                                    // MOBILE
                                        @media #{$media-xs} {} //.COL-XS
                                        @media #{$media-sm} {} //.COL-SM
                                        @media #{$media-md} {} //.COL-MD
                                        @media #{$device-mobile} {} //.MOBILE

                                    // DESKTOP
                                        @media #{$device-desktop} {} //.DESKTOP
                                        @media #{$media-lg} {} //.COL-LG
                                        @media #{$media-xl} {} //.COL-XL
                                        @media #{$media-xxl} {} //.COL-XXL
                                } //.BUTTON-SOLID
                            } //A

                            &.button-solid {
                                // GLOBAL
                                    margin: $margin-none;
                                    margin-left: $margin-sm;
                                    padding: $padding-none;
                                    background-color: transparent;

                                // MOBILE
                                    @media #{$media-xs} {} //.COL-XS
                                    @media #{$media-sm} {} //.COL-SM
                                    @media #{$media-md} {} //.COL-MD
                                    @media #{$device-mobile} {} //.MOBILE

                                // DESKTOP
                                    @media #{$device-desktop} {} //.DESKTOP
                                    @media #{$media-lg} {} //.COL-LG
                                    @media #{$media-xl} {} //.COL-XL
                                    @media #{$media-xxl} {} //.COL-XXL

                                a {
                                    // GLOBAL
                                        @extend .button-solid;
                                        margin: $margin-none;

                                        &:hover {
                                            background-color: $link-hover-color;
                                            border: $border-outline-weight solid $color-grayscale-light-12;
                                            font-weight: 400;
                                        } //:HOVER

                                    // MOBILE
                                        @media #{$media-xs} {} //.COL-XS
                                        @media #{$media-sm} {} //.COL-SM
                                        @media #{$media-md} {} //.COL-MD
                                        @media #{$device-mobile} {} //.MOBILE

                                    // DESKTOP
                                        @media #{$device-desktop} {} //.DESKTOP
                                        @media #{$media-lg} {} //.COL-LG
                                        @media #{$media-xl} {} //.COL-XL
                                        @media #{$media-xxl} {} //.COL-XXL
                                } //A
                            } //.BUTTON-SOLID
                        } //.MENU-ITEM
                    } //.ELEMENTOR-NAV-MENU
                } //.ELEMENTOR-NAV-MENU--MAIN
            } //#HEADER-MENU-PRIMARY

            #header-toggle {
                // GLOBAL
                // MOBILE
                    @media #{$media-xs} {
                        width: $grid-7;
                    } //.COL-XS
                    @media #{$media-sm} {
                        width: $grid-9;
                    } //.COL-SM
                    @media #{$media-md} {
                        width: $grid-9;
                    } //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {
                        display: none;
                    } //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL

                .elementor-icon-wrapper {
                    // GLOBAL
                        display: flex;
                        justify-content: flex-end;

                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL

                    a.elementor-icon {
                        // GLOBAL
                            font-size: 1.75rem;
                            color: $header-primary-text-color;

                        // MOBILE
                            @media #{$media-xs} {} //.COL-XS
                            @media #{$media-sm} {} //.COL-SM
                            @media #{$media-md} {} //.COL-MD
                            @media #{$device-mobile} {} //.MOBILE

                        // DESKTOP
                            @media #{$device-desktop} {} //.DESKTOP
                            @media #{$media-lg} {} //.COL-LG
                            @media #{$media-xl} {} //.COL-XL
                            @media #{$media-xxl} {} //.COL-XXL

                        i {
                            // GLOBAL
                            // MOBILE
                                @media #{$media-xs} {} //.COL-XS
                                @media #{$media-sm} {} //.COL-SM
                                @media #{$media-md} {} //.COL-MD
                                @media #{$device-mobile} {} //.MOBILE

                            // DESKTOP
                                @media #{$device-desktop} {} //.DESKTOP
                                @media #{$media-lg} {} //.COL-LG
                                @media #{$media-xl} {} //.COL-XL
                                @media #{$media-xxl} {} //.COL-XXL
                        } //I
                    } //.ELEMENTOR-ICON
                } //.ELEMENTOR-ICON-WRAPPER
            } //#HEADER-TOGGLE

        } //#HEADER-PRIMARY

    } //HEADER